/* app css stylesheet */

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.main {
  clear:both;
  margin-left: 5px;
  margin-right: 15px;
}

.nav {
  list-style-type: none;
  padding: 0;
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 0 17px rgba(0, 0, 0, .2);

}

.nav li {
  float: left;
  margin-right: 10px;
}

.nav:after {
  clear:both;
}

.avatar-profile {
  width: 90%;
  max-width: 250px;
}

.panel {
  padding: 15px;
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 8px 17px rgba(0, 0, 0, .2);
}

.panel-login {
  width: 330px;
  margin: 12% auto;
}

textarea {
  padding: 5px;
  width: 100%;
  resize: none;
  border-color: #cfd9D7;
  border-radius; 2px;
}

.tweet-container {
  padding: 15px;
  border-bottom: 1px solid #cfd9D7;
}

.tweet-text {
  height: 40px;
}

.tweet-header {
  height: 50px;
  display: block;
}

.tweet-avatar {
  width: 38px;
  border-radius: 5px;
  display: inline-block;
}

.tweet-author {
  color: #55acee;
}

.tweet-button {
  margin: 5px;
  margin-bottom: 0px;
}   

.btn-social:active {
  -webkit-box-shadow: none;
}

.btn-block {
  border: 1px solid #cfd9D7;
}