/* app css stylesheet */

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.main {
  clear:both;
}

.nav {
  list-style-type: none;
  padding: 0;
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 0 17px rgba(0, 0, 0, .2);

}

.nav li {
  float: left;
  margin-right: 10px;
}

.nav:after {
  clear:both;
}

.avatar {
    float: left;
    margin-top: 1em;
    margin-right: 1em;
    position: relative;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

.panel {
  padding: 15px;
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 8px 17px rgba(0, 0, 0, .2);
}

.panel-login {
  width: 330px;
  margin: 12% auto;
}

textarea {
  padding: 5px;
  width: 100%;
  resize: none;
  border-color: #cfd9D7;
  border-radius; 2px;
}

.tweet-button {
  margin: 5px;
  margin-bottom: 0px;
}   

.btn-social:active {
  -webkit-box-shadow: none;
}

.btn-block {
  border: 1px solid #cfd9D7;
}