/* app css stylesheet */

body {
  background-color: #c0deed;
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.main {
  clear:both;
  margin-left: 5px;
  margin-right: 15px;
}

.nav {
  height: 50px;
  list-style-type: none;
  padding: 0;
  background-color: #fff;
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 0 17px rgba(0, 0, 0, .2);

}

.nav li {
  float: left;
  margin-right: 10px;
}

.nav:after {
  clear:both;
}

.navbar-item {
  top: 5px;
}

.avatar-profile {
  width: 90%;
  max-width: 238px;
  border-radius: 5px;
  border: 5px solid #fff;
  margin-right: 10px;
}

.avatar-profile:before {
  content: "";
  border:2px solid #fff;
}


.bio {
  background-color: #fff;
  display: inline-block;
  margin-top: 15px;
  margin-right: 15px;
  float: right;
  border: 1px solid #cfd9d7;
  padding: 15px;
}

@media (min-width: 768px) {
  .bio {
    float: none;
  }
}

@media (max-width: 511px) {
  .avatar-profile {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    max-width: none;

  }
  .bio {
    width: 100%;
    margin: 0px;
    text-align: center;
  }
}

.panel {
  padding: 15px;
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 8px 17px rgba(0, 0, 0, .2);
}

.panel-login {
  width: 330px;
  margin: 12% auto;
}

.panel-tweet {
  height: 120px;
  margin-top: 20px;
}

textarea {
  padding: 5px;
  width: 100%;
  resize: none;
  border-color: #cfd9D7;
  border-radius; 2px;
}

.tweet-container {
  padding: 15px;
  border-bottom: 1px solid #cfd9D7;
}

.tweet-container:hover {
  background-color: #eee;
}

.tweet-text {
  height: 40px;
}

.tweet-header {
  height: 50px;
  display: block;
}

.tweet-avatar {
  width: 38px;
  border-radius: 5px;
  display: inline-block;
}

.tweet-author {
  color: #55acee;
}

.tweet-button {
  margin: 5px;
  margin-bottom: 0px;
}   

.btn-social:active {
  -webkit-box-shadow: none;
}

.btn-block {
  border: 1px solid #cfd9D7;
}