<div class="col-sm-3 text-left container-fluid" ng-show="currentUser">
	<div class="row">
		<img class="avatar-profile" ng-show="currentUser.raw" ng-src="{{currentUser.raw.profile_image_url_https.split('_normal.jpeg')[0] + '.jpeg' }}" alt="avatar"></img>
		<div class="bio">
			<h3>{{currentUser.name}}</h3>
			<h5>@{{currentUser.alias}}</h5>
			<p class="text-muted">{{currentUser.bio}}</p>
			<h4>Following: {{currentUser.raw.friends_count}}</h4>
			<h4>Followers: {{currentUser.raw.followers_count}}</h4>
		</div>
	</div>
</div>

<div class="col-sm-9">
	<div class="row">
		<div class="panel panel-tweet">
			<textarea ng-model="text" class="tweet-input-text"></textarea>
			<span class="text-muted">{{140 - text.length}}</span><button ng-click="postTweet(text)"class="btn btn-primary pull-right tweet-button">Tweet</button>	
		</div>	
	</div>

	<div class="row">
		<div class="panel">
			<div class="tweet-container" ng-repeat="tweet in tweets">
				<div class="row">
					<div class="tweet-header">
						<img class="tweet-avatar" ng-show="currentUser.avatar" ng-src="{{currentUser.avatar}}"></img>
						<span class="tweet-author">@{{currentUser.alias}}</span> tweeted {{tweet.created_at | date: 'short'}}
					</div>
				</div>

				<div class="row">
					<div class="tweet-text">
						{{tweet.text}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <ul>
	<h1>Me:</h1>
	{{me}}
	<h1>Followers:</h1>
	<li ng-repeat="follower in followers">{{follower}}</li>
	<h1>Friends:</h1>
	<li ng-repeat="friend in friends">{{friend}}</li>
</ul>
 -->